<app-scrollspy [navItems]="navItems"></app-scrollspy>
<div class="container" *ngIf="venue">
    <section class="info">
        <h2 class="heading-venue">Venue Information</h2>

        @if (!editMode) {
            <h3 class="heading-name">{{ venue.name }}</h3>
            <p class="text-about">{{ venue.about }}</p>
            <img [src]="venue.imageUrl" alt="Venue Image" class="img-venue">
        } @else {
            <input type="text" [(ngModel)]="venue.name" class="input-name" placeholder="Venue Name" />
            <textarea [(ngModel)]="venue.about" class="textarea-about" placeholder="Venue Description"></textarea>
            <input type="text" [(ngModel)]="venue.imageUrl" class="input-image" placeholder="Image URL" />
        }

        <div class="location">
            <img src="assets/images/map-pin.png">
            @if (!editMode) {
                <p class="text-location">{{ venue.county }}, {{ venue.town }}</p>
            } @else {
                <input type="text" [(ngModel)]="venue.county" class="input-county" placeholder="County">
                <input type="text" [(ngModel)]="venue.town" class="input-town" placeholder="Town">
            }
        </div>

        <app-google-maps></app-google-maps>
    </section>

    @if (venue.about) {
        <section class="events">
            <h2 class="heading-events">Upcoming Events</h2>
            <app-venue-events [venue]="venue" />
        </section>
    }

    <section class="videos">
        <h2 class="heading-videos">Videos</h2>
    </section>

    <section class="reviews">
        <h2 class="reviews">Reviews</h2>
    </section>

    @if (authService.isNotRole('Customer')) {
        <section class="listings">
            <h2 class="heading-listings">Listings</h2>
            <app-listings [venue]="venue" />
        </section>
    }
</div>
