<table class="container">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{ event.name }}</td>
            <td>${{ event.price }}</td>
            <td>
                <button (click)="onViewDetails(event)">View Details</button>
            </td>
            <td *ngIf="authService.isRole('Customer')">
                <button (click)="onViewDetails(event)">Purchase</button>
            </td>
        </tr>
    </tbody>
</table>