.config-header-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10px;
}

.config-header-content > ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
}

