@if (authService.currentUser()) {
    <button class="btn-profile" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon [matMenuTriggerFor]="menu" fontIcon="account_circle">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditProfile()">
            <mat-icon fontIcon="edit"></mat-icon>
            Edit Profile
          </button>
          <button mat-menu-item (click)="onLogOut()">
            <mat-icon fontIcon="logout"></mat-icon>
            Logout
          </button>
    </mat-menu>
} @else {
    <a routerLink="/login">Log in</a> / <a routerLink="/login">Register</a>
}

