/* You can add global styles to this file, and also import other style files */
.submit {
    padding:5px 15px; 
    background:#add8e6;
    color: white;
    border:0 none;
    cursor:pointer;
    border-radius: 15px; 
}

body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    height: 3000px;
    margin: 0;
    padding: 0;
  }
